<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">Registrarse!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-item>
    <img  width="180" src="../../../assets/img/registro.gif" class="mx-auto" >
  </ion-item>

  <ion-item>
    <ion-label position ="floating">Nombre Completo:</ion-label>
    <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position ="floating">Correo Electrónico:</ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position ="floating">Contraseña:</ion-label>
    <ion-input type="password"  [(ngModel)]="password" name="password"></ion-input>
  </ion-item>

  

  <br>
  <ion-button color="secondary" expand="block" (click)="OnSubmitRegister()" >Registrar</ion-button>
  <ion-button color="secondary" expand="block" text-center routerLink="/login" >Ya tengo Cuenta</ion-button>
  <br>
  
  
  
  </ion-content>