<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="end" fill="clear" (click)="presentActionSheet()">
      <ion-icon style="color:aliceblue" name="menu"></ion-icon>
    </ion-button>
    <ion-title class="ion-text-center">
      Pronóstico del Clima 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" class="bg">
  <div class="container p-4">
    <div class="row">
      <div class="col-md-6">
        <div card class="card-body">
          <ion-item>
            <img  width="1000" height="150" src="../../assets/img/clima1.jpg" class="mx-auto" >
          </ion-item>
          
          <br>
          <ion-label class="ion-text-center" color="primary">
            <H2 class="ion-text-center">CIUDAD #: 1</H2>
          </ion-label>
          <form (submit)="submitLocation(cityName, countryCode)">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nombre de la Ciudad" #cityName>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Codigo del pais" #countryCode>
            </div>
            <button class="btn btn-primary btn-block  mt-2"> Obtener Clima </button>
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div *ngIf="weather" class="card card-body">
          <p>Ciudad: {{weather.name}}</p>
          <p>Temperatura: {{weather.main.temp}} °C</p>
          <p>Temperatura max: {{weather.main.temp_max}} °C</p>
          <p>Temperatura min: {{weather.main.temp_min}} °C</p>
          <p>Latitud: {{weather.coord.lat}}</p>
          <p>Longitud: {{weather.coord.lon}}</p>
          <p>Humedad: {{weather.main.humidity}}</p>
          <p>Presión: {{weather.main.pressure}}</p>
          <p>Tipo de clima: {{weather.weather[0].description}}</p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div card class="card-body">
          <ion-label class="ion-text-center" color="primary">
            <H2 class="ion-text-center">CIUDAD #: 2</H2>
          </ion-label>
          <form (submit)="submitLocation2(cityName2, countryCode2)">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nombre de la Ciudad" #cityName2>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Codigo del pais" #countryCode2>
            </div>
            <button class="btn btn-primary btn-block  mt-2"> Obtener Clima </button>
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div *ngIf="weather2" class="card card-body">
          <p>Ciudad: {{weather2.name}}</p>
          <p>Temperatura: {{weather2.main.temp}} °C</p>
          <p>Temperatura max: {{weather2.main.temp_max}} °C</p>
          <p>Temperatura min: {{weather2.main.temp_min}} °C</p>
          <p>Latitud: {{weather2.coord.lat}}</p>
          <p>Longitud: {{weather2.coord.lon}}</p>
          <p>Humedad: {{weather2.main.humidity}}</p>
          <p>Presión: {{weather2.main.pressure}}</p>
          <p>Tipo de clima: {{weather2.weather[0].description}}</p>


        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div card class="card-body">
          <ion-label class="ion-text-center" color="primary">
            <H2 class="ion-text-center">CIUDAD #: 3</H2>
          </ion-label>
          <form (submit)="submitLocation3(cityName3, countryCode3)">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nombre de la Ciudad" #cityName3>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Codigo del pais" #countryCode3>
            </div>
            <button class="btn btn-primary btn-block  mt-2"> Obtener Clima </button>
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div *ngIf="weather3" class="card card-body">
          <p>Ciudad: {{weather3.name}}</p>
          <p>Temperatura: {{weather3.main.temp}} °C</p>
          <p>Temperatura max: {{weather3.main.temp_max}} °C</p>
          <p>Temperatura min: {{weather3.main.temp_min}} °C</p>
          <p>Latitud: {{weather3.coord.lat}}</p>
          <p>Longitud: {{weather3.coord.lon}}</p>
          <p>Humedad: {{weather3.main.humidity}}</p>
          <p>Presión: {{weather3.main.pressure}}</p>
          <p>Tipo de clima: {{weather3.weather[0].description}}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div card class="card-body">
          <ion-label class="ion-text-center" color="primary">
            <H2 class="ion-text-center">CIUDAD #: 4</H2>
          </ion-label>
          <form (submit)="submitLocation4(cityName4, countryCode4)">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nombre de la Ciudad" #cityName4>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Codigo del pais" #countryCode4>
            </div>
            <button class="btn btn-primary btn-block  mt-2"> Obtener Clima </button>
          </form>
        </div>
      </div>

      <div class="col-md-6">
        <div *ngIf="weather4" class="card card-body">
          <p>Ciudad: {{weather4.name}}</p>
          <p>Temperatura: {{weather4.main.temp}} °C</p>
          <p>Temperatura max: {{weather4.main.temp_max}} °C</p>
          <p>Temperatura min: {{weather4.main.temp_min}} °C</p>
          <p>Latitud: {{weather4.coord.lat}}</p>
          <p>Longitud: {{weather4.coord.lon}}</p>
          <p>Humedad: {{weather4.main.humidity}}</p>
          <p>Presión: {{weather4.main.pressure}}</p>
          <p>Tipo de clima: {{weather4.weather[0].description}}</p>
        </div>
      </div>
    </div>
  </div>

</ion-content>